In [1]:
import pandas as pd

In [17]:
def read_file(file_name: str, to_type:str="dataframe", sep:str="#"):
    infile = open(file_name, "r")
    
    line = infile.readline()
    
    data_list = []
    
    while line != "":
        line = line.replace('\n', '').split(sep)
        data_list.append(line)
        line = infile.readline()
    
    columns = data_list.pop(0)
    return pd.DataFrame(data_list, columns=columns)

In [18]:
cars_df = read_file("cars_pa3.txt")
display(cars_df)

       name   make manufacture_year    price
0  rockstar    suv             2012  36000.0
1     suave  sedan             2012  33000.5
2     trend  truck             2012  42000.0
3  starship    suv             2014  45000.0
4  maverick  sedan             2015  25000.0
5    nebula  truck             2015  45000.0
6    spiral  sedan             2017  35000.0

In [20]:
reviews_df = read_file("reviews_pa3.txt", sep='\t')
display(reviews_df)

,serial_no,name,date,rating,comment
0,1,rockstar,1-18-2019,3,It's alright. Gives me some trouble some ...
1,2,rockstar,5-11-2019,5,Awesome car. Love it.
2,3,suave,6-15-2019,4,Nice car. Have driven it quite a bit with mu...
3,4,trend,6-21-2019,3,Had issues with the brakes.
4,5,maverick,9-15-2019,3,Average car .
5,6,trend,12-18-2019,,
6,7,suave,3-2-2020,2,I do not like it. Don't get it.
7,8,starship,5-1-2020,4,Nice car. Would recommend it.
8,9,rockstar,6-1-2020,,
9,10,spiral,1-6-2021,5,One of the best cards I've ever had!
10,11,spiral,1-25-2021,1,
11,12,trend,3-2-2021,2,Decent mileage. Looks good but needs regular ...
12,13,rockstar,3-10-2021,4,Have had it for several years now.
13,14,nebula,3-21-2021,5,
14,15,rockstar,9-20-2021,3,
15,16,nebula,9-25-2021,,Decent car. Nothing outstanding though...
16,17,trend,9-27-2021,4,"Drives fine, decent mileage, looks great..."
17,18,trend,10-5-2021,5,
18,19,nebula,11-15-2021,2,Would not recommend it
19,20,nebula,11-25-2021,5,Love this car!!!
20,21,spiral,12-5-2021,3,Has had issues... needs lot of maintenance